* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	height: 100%;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Arial, tahoma, sans-serif;
	font-weight: bold;
	/*font-size: 11px;
	text-align: center; */
}

a { 
	color: #232943;
}

.menu {
	float: right;
}

.menu li {
	display: inline-block;
	padding-right: 15px;
}

.menu li a {
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: underline;
	color: white;
	background: #232943;
}

.subMenu {
	margin-bottom: 50px;
}
.subMenu li {
	display: inline-block;
	padding-right: 15px;
}

.subMenu li a {
	text-decoration: none;
	color: #ccc;
}

.subMenu li a.selected {
	background: #232943;	color: white;
	padding: 4px;
	border-radius: 20px;
}

main {
	margin-top: 100px;
}

.leftContent {
	float: left;
	width: 40%;
}

h1 {
	color: #232943;
}

p {
	color: gray;
}

#linha1 {
	margin-top: 50px;
}

.btn {
	margin-top: 50px;
	padding: 15px;
	color: white;
	background: #ff5d5e;
	border: none;
	border-radius: 4px;
}

.btn:hover {
	background: #ff8584;
}

.rightContent {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}