* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	height: 100%;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	/*font-size: 11px;
	text-align: center; */
}

a { 
	color: hsl(228, 45%, 44%);
}

.menu {
	float: right;
}

.menu li {
	display: inline-block;
	padding-right: 15px;
	border: 1px solid blue;
}

.menu li a {
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, tahoma, sans-serif;
}

.menu li a:hover {
	text-decoration: underline;
	color: white;
	background: hsl(228, 45%, 44%);
}

.leftContent {
	border: 1px solid green;
	float: left;
	width: 40%;
}

.rightContent {
	border: 1px solid red;
	float: right;
}

footer {
	clear: both;
}